
.justify-content-center{
    background-color:purple;
}

.write-button{
    margin:20px;
    background-color:dodgerblue;
    float:right;
}


nav a img{
    height:35px;
}

h1{
    margin:5px;
}

.card img{
    width:50%;
    margin-top:1em;
    margin-left:auto;
    margin-right:auto;
}

.card{
    float:left;
    overflow:hidden;
}

.profile-first-page{
    width:70%;
}

.footer{
    float:left;
    width:100%;
}
