{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'share/_navbar.html' %}
<h1>
    마이 페이지
</h1>
<div class="col-12 justify-content-center">
    {% include 'share/profile.html' %}
    <div class="list-group">
        {% for post in posts %}
        <a href="{% url 'lovely:view' post.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{post.title}}</h5>
                <small class="text-muted">{{post.created_at}}</small>
                </div>
            <p class="mb-1">{{post.content}}</p>
        </a>
        {% endfor %}
    </div>
    <div class="write-button">
        <a href="{% url 'lovely:new' %}"><button type="button" class="btn btn-primary btn-lg">글쓰기</button></a>
    </div>
</div>


<div>
    {% include 'share/footer.html' %}
</div>
{% endblock %}